<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections >
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap"/>
  </configSections >

  <StructureMap MementoStyle="Attribute">
    
    <!-- WCF Service Through Proxy -->
    <DefaultInstance
      PluginType="OptionalWCF.Contracts.ICustomerService, OptionalWCF"
      PluggedType="OptionalWCF.Client.CustomerServiceProxyWrapper, OptionalWCF.Client"
      Scope="Singleton"
      />

    <!--Real Service-->
    <!--<DefaultInstance
      PluginType="OptionalWCF.Contracts.ICustomerService, OptionalWCF"
      PluggedType="OptionalWCF.ServiceImpl.CustomerService, OptionalWCF.ServiceImpl"
      Scope="Singleton"
      />-->

  </StructureMap>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICustomerService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:26859/CustomerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService"
        contract="OptionalWCF.Contracts.ICustomerService" name="BasicHttpBinding_IUserProfileService" />
    </client>
  </system.serviceModel>
  
  </configuration>